#chathistory {
	outline: 1px solid black;
	width: 60%;
	height: 80%;
	background-color: #99ccff;
	text-align: left;
	overflow-y: scroll;
}

#chatform {
	outline: 1px solid black;
	width: 60%;
	background-color: #ccff99;
}

#tomainpage {
	color: black;
}

#tomainpage:hover {
	color: #ff9999;
}
